# Template for the .env file of django backend 
{% if dev_environment | bool %}
{% for key, value in dev_db_credentials.items() %}
{{ key }}={{ value }}
{% endfor %}
{% else %}
{% for key, value in prod_db_credentials.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% for key, value in env_vars.items() %}
{{ key }}={{ value }}
{% endfor %}